.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}


th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  height: 37px;
  display: flex;
  justify-content: center;
  gap: 20px;

}

/* form * {
  font-size: 28px;
} */
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 50vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.buttons{
  display: flex;
  gap: 22px;
  
}
.inputField{
  border-radius: 10px;
}

input {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.btnBoxx{
  height: 30px;
  background-color: rgb(117, 201, 250);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 30%;
}

.btnBox{
  height: 30px;
  background-color: rgb(117, 201, 250);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 10%;
  font-size: 18px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.buttonWrap{
  display: flex;
  justify-content: center;
 gap: 22px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: #75c9fa05;
  padding: 4rem;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
}

.formTitle{
  font-size: 27px;
  text-align: center;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px;
}